/* body default css var */
/* :root {
  --bg-color: #ffffff;
  --bg-secondary-color: #f3f3f6;
  --color-primary: #14854f;
  --color-lightGrey: #d2d6dd;
  --color-grey: #747681;
  --color-darkGrey: #3f4144;
  --color-error: #d43939;
  --color-success: #28bd14;
  --grid-maxWidth: 120rem;
  --grid-gutter: 2rem;
  --font-size: 1.6rem;
  --font-color: #333333;
  --font-family-sans: sans-serif;
  --font-family-mono: monaco, 'Consolas', 'Lucida Console', monospace;
} */

/* for light mode */
body {
  --bg-color: #f3f3f6;
  --grid-maxWidth: 64rem; /* max container width 720 */
}

body.dark {
  --bg-color: #333;
  --bg-secondary-color: #262626;
  --font-color: #f5f5f5;
  --color-grey: #bbb;
  --color-darkGrey: #888;
  /* --color-primary: #17c16f; */
  --color-primary: #cccf26;
  --color-error: #ea4f4f;
}

/* COMPONENT */
.post-list {
  display: flex;
  flex-direction: column;
  gap: 1rem 1rem;
  padding: 0 2rem 0 2rem;
}

/* LAYOUT */
/* 그 이상 디바이스에 대한 스타일 */

/* @media (min-width: 768px) {
  main {
    width: 70rem;
  }
} */

.main-wrap {
  width: 100%;
  max-width: 76.8rem;
}

/* UTILITIES */
.justify-between {
  display: flex;
  justify-content: space-between;
}
